# __DATA STRUCTURE IN PYTHON__

There are various data structures which are already present in python. They are used to efficiently store and manipulate data.

__Some Data structure in python are:__

* __LIST__
* __TUPLE__
* __SETS__
* __DICTIONARY__
* __STRINGS__

__NOTE:__ Strings are considered basic data type in python but underneath is an ordered collection of unicode characters.

## __LIST__

List is an ordered collection of items. Ordered here refers that it can be indexed as it has some definite order in it. Lists are __mutable__ i.e. they can be modified. List can have elements of different data types in it. Indexing of lists starts with __0__ . 

Lists uses __[  ]__ and have elements separated by commas  __,__ 

Lists can also be created by using __list()__ function

In [14]:
# creating a list

list1 = list([1,2,3,4,5,6])
list2 = list([10,11,12,13,14,15])
print(list1)
print(list2)

[1, 2, 3, 4, 5, 6]
[10, 11, 12, 13, 14, 15]

### __Nested List__

List inside a list can be created and can be indexed in a similar way

In [15]:
list1 = [[1,2,3],[4,5,6]]

print(list1)

[[1, 2, 3], [4, 5, 6]]

In [16]:
print(list1[0])

[1, 2, 3]

In [17]:
print(list1[0][2])

3

### Traversing a list

Traversing refers to go through each element in list.

In [20]:
for i in list1:
    print(i)

1
2
3
4
5
6

In [21]:
for i in range(len(list1)):
    print(list1[i])

1
2
3
4
5
6

### Indexing a list

Indexing refers to fetching an element from a particular index in list

__Syntax:__

```
list_var [ index ]

```

Fetches element from the list present at index given __index <  length of the list__ . 

Negative index can be used to denote elements of list from the end of the list.

__NOTE:__ Indexing starts at 0

In [22]:
print(list1)

[1, 2, 3, 4, 5, 6]

In [23]:
print(list1[2])
print(list1[0])
print(list1[-1]) # Fetch last element of list using negative index
print(list1[-2]) # Fetch second last element of list
print(list1[5]) # Fetch last element using positive index
print(list1[6]) # error as index is not less than length of list

3
1
6
5
6

IndexError: list index out of range

### __Slicing__

Slicing is a method of obtaining a subset of the list.

__Syntax:__

```
list_var [start:stop:step]
```

* __Start:__ index of starting point of slicing. By default 0
* __Stop:__ index of ending point of slicing. It's exclusive and by default index of last element
* __Step:__ how many elements to skip while fetching

__NOTE:__ By default syntax is __list_var[start:stop]__ and step part can be omitted, it's optional.

In [24]:
print(list1)
print(list1[:])
print(list1[2:4]) #stop is exclusive
print(list1[::2]) #every second element from start of slicing
print(list1[2::2])

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[3, 4]
[1, 3, 5]
[3, 5]

## Some important Functions in list

### Find length of list

```
len(list_var)
```

In [25]:
print(list1)
print(len(list1))

[1, 2, 3, 4, 5, 6]
6

### Adding an element to list


__There are different ways to add elements to list__

* __Append:__ it appends the element at the end of list

```
list_var.append(element)
```

* __Insert:__ used to add element in a list at a particular index

```
list_var.insert(index, element)
```

* __Extend:__ Used to extend the list

```
list_var.extend(another_list)
```

__NOTE:__ Extend is used to extend the current list to accomodate elements of another list whereas append add the elements at the end and create a nested list if another list is passed as a parameter to a function

In [30]:
list1 = [1,2,3,4,5,6]
print(list1)

list1.append(7) #adding an element
print(list1)

list1 = [1,2,3,4,5,6]
list1.insert(2, 7) # add an element 7 to position 2
print(list1)

list1 = [1,2,3,4,5,6]
list2 = [10,11,12]

list1.append(list2) #create nested list
print(list1)

list1 = [1,2,3,4,5,6]
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 7, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, [10, 11, 12]]
[1, 2, 3, 4, 5, 6, 10, 11, 12]

### Deleting an element from list


__There are different ways to delete elements from list__

* __Remove:__ it deletes the first occurence of an element

```
list_var.remove(element)
```

* __del:__ used to delete element from a particular index

```
del list_var[index]
```

* __pop:__ Used to delete element from given index

```
list_var.pop(index)
```

__NOTE:__ Pop returns element after removing whereas del command does not

In [31]:
list1 = [1,2,3,7,4,5,6,7]
print(list1)

list1.remove(7) # remove first occurence of 7 from list
print(list1)

del list1[3] #delete third element from the list but does not return anythin
print(list1)

a = list1.pop(3) # deletes third element from the list and store in a
print(a)
print(list1)

[1, 2, 3, 7, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 5, 6, 7]
5
[1, 2, 3, 6, 7]

### __Count__

Count occurence of a particular element in a list

__Syntax:__

```
list_var.count(element)
```

In [32]:
list1 = [2,4,3,1,2,1,3,2]
print(list1.count(2))

3

### __Reverse__

Reverses the list

__Syntax:__

```
list1.revers()
```

In [34]:
print(list1)
list1.reverse()
print(list1)

[2, 4, 3, 1, 2, 1, 3, 2]
[2, 3, 1, 2, 1, 3, 4, 2]

### __Sorting__

Sort the element of list in a particular order ascending or descending

__Different ways to sort a list:__

* __sorted:__ function to sort a list

__Syntax:__

```
sorted(list_var, reverse = True/False)
```

* __sort:__ method to sort a list

__Syntax:__

```
list_var.sort(reverse = True/False)
```

__NOTE:__

* Difference between sorted and sort is that sorted does not change original list whereas sort makes changes in list

* By default if reverse is not passed, sorting is done in ascending order.

In [36]:
list1 = [1,32,12,43,2,13,423,412]

list2 = sorted(list1)

print(list2)
print(list1)

list1.sort()

print(list1)

[1, 2, 12, 13, 32, 43, 412, 423]
[1, 32, 12, 43, 2, 13, 423, 412]
[1, 2, 12, 13, 32, 43, 412, 423]

In [37]:
# In Descending order

list1 = [1,32,12,43,2,13,423,412]

list2 = sorted(list1,reverse = True)

print(list2)
print(list1)

list1.sort(reverse = True)

print(list1)

[423, 412, 43, 32, 13, 12, 2, 1]
[1, 32, 12, 43, 2, 13, 423, 412]
[423, 412, 43, 32, 13, 12, 2, 1]

### __Copying a list__

List have a shared memory. It means that when a list is assigned to another variable then any changes made in any variable is reflected back to other as well

In [40]:
list1 = [2,3,5,1,6]
list2 = list1

print(list1)
print(list2)

#removed from both list
list1.remove(3)

print(list1)
print(list2)

[2, 3, 5, 1, 6]
[2, 3, 5, 1, 6]
[2, 5, 1, 6]
[2, 5, 1, 6]

In [43]:
list1 = [2,3,5,1,6]
list2 = list1.copy()

print(list1)
print(list2)

#removed from list1 only
list1.remove(3)

print(list1)
print(list2)

[2, 3, 5, 1, 6]
[2, 3, 5, 1, 6]
[2, 5, 1, 6]
[2, 3, 5, 1, 6]

### __Combining into string__

Combining elements of list to form a string separated by a delimiter. Delimiter is the character with which you want to separate the elements in string.

__Syntax:__

```
delimiter.join(list_var)
```

In [46]:
list1 = ['hello','world','I','am','learning','python']

#default spaces
st = ' '.join(list1)
print(st)

st = ';'.join(list1)
print(st)

hello world I am learning python
hello;world;I;am;learning;python

## __List Comprehension__

List comprehension is a compact way of creating a list and is used when the elements are obtained by applying any operation and conditional on iterable or some sequence

In [50]:
# create list of n natural number

list1 = [i for i in range(10)]

print(list1)

# create list of square of natural number

list1 = [i**2 for i in range(10)]
print(list1)

# Create list of even number upto 10

list1 = [i for i in range(10) if i%2==0]
print(list1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 2, 4, 6, 8]

In [53]:
list2 = [2,3, 26,13,12,15,18,19]

# Fetch odd elements from another list
list1 = [i for i in list2 if i%2!=0]
print(list1)

[3, 13, 15, 19]

## __Tuple__

Tuple is an ordered collection of items. Ordered here refers that it can be indexed as it has some definite order in it. Tuple is just like the List but tuples are __immutable__ i.e. they can't be modified. Tuple can have elements of different data types in it. Indexing of tuple starts with __0__ . 

Tuple uses __(  )__ and have elements separated by commas  __,__ 

Tupls can also be created by using __tuple()__ function.

__NOTE:__ A single element in a tuple has to be followed by a comma __,__ otherwise it'll be treated under basic data type.

In [1]:
t1 = (1,2,3,4)

print(t1)
print(type(t1))

(1, 2, 3, 4)
<class 'tuple'>

In [3]:
# Not modifying single element but creating new tuple
t1 = (2)
print(t1)
print(type(t1))

t2 = (2,)
print(t2)
print(type(t2))

2
<class 'int'>
(2,)
<class 'tuple'>

### __Indexing__

An element can be fetched from tuple by giving it's index which starts from 0. Negative indexing is also allowed. Index < len(tuple)

```
tuple_var[index]
```

In [7]:
t1 = tuple((1,2,3,4))
print(t1)
print(t1[2])

print(t1[-1])

(1, 2, 3, 4)
3
4

### __Traversing a tuple__

Traversing is going through the tuple

In [8]:
for i in t1:
    print(i)

1
2
3
4

In [10]:
for i in range(len(t1)):
    print(t1[i])

1
2
3
4

### __Slicing__

Slicing is a method to obtain a subset of a tuple. Similar to lists

In [11]:
t1 = (1,2,3,4,5,1,2,3,4,5)
print(t1)
print(t1[:])
print(t1[2::2])

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)
(3, 5, 2, 4)

### __Mutability__

In [12]:
print(t1)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [13]:
t1[3] = 6 #Error as it is immutable

TypeError: 'tuple' object does not support item assignment

### __Nested tuple__

Tuple can be nested inside each other. Lists can also be nested inside tuple

In [23]:
t1 = (1,2,3,(6,7,8),[10,11,12])
print(t1)

(1, 2, 3, (6, 7, 8), [10, 11, 12])

__NOTE:__ Since list is mutable therefore the elements of nested list inside a tuple can be modified

In [24]:
print(t1)
print(t1[4])
t1[4][1] = 51
print(t1)

(1, 2, 3, (6, 7, 8), [10, 11, 12])
[10, 11, 12]
(1, 2, 3, (6, 7, 8), [10, 51, 12])

## __Some important function in tuple__

### __Find length__

__Syntax:__

```
len(tuple_var)
```

In [30]:
t1 = (1,2,3,12,41,123,42)
print(len(t1))

7

### __Appending two tuples__

__Syntax:__

```
tuple_var1 + tuple_var2
```

In [31]:
t1 = (1,2,3)
t2 = (4,5,6)
t3 = t1 + t2
print(t3)

(1, 2, 3, 4, 5, 6)

### __Deleting__

Since tuple is immutable, no single element can be deleted from a tuple. Instead complete tuple is deleted.

__Syntax:__

```
del tuple_var
```

In [32]:
t1 = (2,4,1,5,6)
print(t1)

del t1[3] #Error

(2, 4, 1, 5, 6)

TypeError: 'tuple' object doesn't support item deletion

In [33]:
print(t1)
del t1 #deleted tuple
print(t1)

(2, 4, 1, 5, 6)

NameError: name 't1' is not defined

### __Count elements__

Counts the occurence of a particular element in a tuple.

__Syntax:__

```
tuple_var.count(element)
```

In [34]:
t1 = (1,2,4,5,1,3,5,6,1)
print(t1.count(1))

3

### __Find Index of element__

Returns index of the first occurence of an element inside a tuple

__Syntax:__

```
tuple_var.index(element)
```

In [35]:
t1 = (1,2,4,5,1,3,5,6,1)
print(t1.index(5))

3

### __Sorting a tuple__

Sorting a tuple returns a list after sorting the elements in a tuple without making any changes in the tuple itself.

__Syntax:__

```
sorted(tuple_var,reverse=True/False)
```

__NOTE:__ reverse parameter is optional and by default is False, so it'll return list in ascending order

In [36]:
t1 = (3, 23, 1, 16, 12, 2, 13)

print(type(t1))
print(t1)
sorted_var = sorted(t1)
print(type(sorted_var))
print(sorted_var)
print(type(t1))
print(t1)

<class 'tuple'>
(3, 23, 1, 16, 12, 2, 13)
<class 'list'>
[1, 2, 3, 12, 13, 16, 23]
<class 'tuple'>
(3, 23, 1, 16, 12, 2, 13)

In [37]:
t1 = (3, 23, 1, 16, 12, 2, 13)

print(type(t1))
print(t1)
sorted_var = sorted(t1,reverse=True)
print(type(sorted_var))
print(sorted_var)
print(type(t1))
print(t1)

<class 'tuple'>
(3, 23, 1, 16, 12, 2, 13)
<class 'list'>
[23, 16, 13, 12, 3, 2, 1]
<class 'tuple'>
(3, 23, 1, 16, 12, 2, 13)

### __Sum elements__

Find sum of elements in a tuple.

__Syntax:__

```
sum(tuple_var)
```

In [39]:
t1 = (3, 23, 1, 16, 12, 2, 13)

sum_var = sum(t1)
print(sum_var)

70

## __Sets__

Unordered collections of items. Every element in a set is unique, no repetition is allowed. Sets are mutable i.e the elements in it can be modified. Unordered refers that the items doesn't have any index associated with it and thus can't be indexed. Generally used to carry out mathematical operations like union, intersection, etc.

Sets uses __{ }__ and contains elements separated by __,__

You can create sets by passing an iterator like lists or tuple to the __sets()__ function.

Sets can have elements of mixed data types and can only have have nested tuples as lists and sets are mutable.

In [12]:
# Creating a set

set1 = {1, 2, 3, 4.3, 'a', (3,4)}

print(set1)
print(type(set1))

{1, 2, 3, 4.3, 'a', (3, 4)}
<class 'set'>

In [13]:
# Notice repeated element is removed

list1 = [1, 2, 3, 1, 1, 2, 4, 5, 1, 2]
print(list1)
print(type(list1))

set1 = set(list1)
print(set1)
print(type(set1))

[1, 2, 3, 1, 1, 2, 4, 5, 1, 2]
<class 'list'>
{1, 2, 3, 4, 5}
<class 'set'>

In [16]:
st = 'hello'
set1 = set(st)
print(set1)

{'l', 'h', 'o', 'e'}

In [14]:
# Indexing can't be done and will return an error

print(set1[0])

TypeError: 'set' object is not subscriptable

## __Traversing__

Similar to lists and for loop except you can't use indexing for traversing.

In [15]:
for i in set1:
    print(i)

1
2
3
4
5

## __Some important function in sets__

## __Find length__

__Syntax:__

```
len(set_var)
```

In [26]:
set1 = {1, 2, 3, 7, 9}
print(set1)
len(set1)

{1, 2, 3, 7, 9}

5

## __Adding items to sets__

There are two different functions to add items to the set:-

* __add:__ Adds a single element in a set

__Syntax :__

```
set_var.add(element)
```

* __update:__ Adds multiple elements in a set

__Syntax:__

```
set_var.update(iterable)
```

In [18]:
set1 = set([1, 2, 3])

print(set1)

{1, 2, 3}

In [20]:
set1.add(5)
print(set1)

{1, 2, 3, 5}

In [22]:
# can't add multiple elements
set1.add(4,6)

TypeError: add() takes exactly one argument (2 given)

In [24]:
# any iterable can be passed
set1.update([4,6])
print(set1)

{1, 2, 3, 4, 5, 6}

## __ Deleting from sets__

Following function can be executed to remove elements from a set

* __discard:__ Discards the given element from set. __If the element is not present in set, it doesn't raise an error.__

__Syntax:__

```
set_var.discard(element)
```

* __remove:__ Removes the given element from set. __If the element is not present in set, it raises an error.__

__Syntax:__

```
set_var.remove(element)
```

* __pop:__ Removes any element from set randomly. 

__Syntax:__

```
set_var.pop()
```

* __clear:__ Clears entire set. Deletes all elements.

__Syntax:__

```
set_var.clear()
```

In [35]:
set1 = {1, 3, 6, 8, 9, 10, 11, 12}

print(set1)

set1.discard(3)
print(set1)

# 3 is removed and not present, but discard won't raise error
set1.discard(3)
print(set1)

set1.remove(5)
print(set1)

# 5 is removed and not present, remove will raise error
set1.remove(5)
print(set1)

{1, 3, 6, 8, 9, 10, 11, 12}
{1, 6, 8, 9, 10, 11, 12}
{1, 6, 8, 9, 10, 11, 12}

KeyError: 5

In [36]:
var = set1.pop()
print("{} is popped randomly from set".format(var))
print(set1)

1 is popped randomly from set
{6, 8, 9, 10, 11, 12}

In [38]:
set1.clear()
# Only empty set is left
print(set1)

set()

## __Union__

Mathematical operation performed on set which takes union of two sets i.e combine all the elements present in either of the two sets.

__Syntax:__

```
(set1 | set2)

or

(set1.union(set2))
```

In [39]:
set1 = {1, 2 , 3, 4}
set2 = {2, 4, 6, 8}

# Repetition not allowed
set3 = (set1 | set2)
print(set3)

set4 = set1.union(set2)
print(set4)

{1, 2, 3, 4, 6, 8}
{1, 2, 3, 4, 6, 8}

## __Intersection__

Mathematical operation performed on set which takes intersection of two sets i.e combine elements that are present in both of the two sets.

__Syntax:__

```
(set1 & set2)

or

(set1.intersection(set2))
```

In [40]:
set1 = {1, 2 , 3, 4}
set2 = {2, 4, 6, 8}

# Repetition not allowed
set3 = (set1 & set2)
print(set3)

set4 = set1.intersection(set2)
print(set4)

{2, 4}
{2, 4}

## __Difference__

Mathematical operation performed on set which takes diffenece of two sets i.e find elements of the set present in set1 but not in set2

__Syntax:__

```
(set1 - set2)

or

(set1.difference(set2))
```

In [41]:
set1 = {1, 2 , 3, 4}
set2 = {2, 4, 6, 8}

# Repetition not allowed
set3 = (set1 - set2)
print(set3)

set4 = set1.difference(set2)
print(set4)

{1, 3}
{1, 3}

## __Symmetric Difference__

Mathematical operation performed on set which takes dymmetric difference of two sets i.e find elements present in set1 union set2 but not in set1 intersection set2

__Syntax:__

```
(set1 ^ set2)

or

(set1.symmetric_difference(set2))
```

In [42]:
set1 = {1, 2 , 3, 4}
set2 = {2, 4, 6, 8}

# Repetition not allowed
set3 = (set1 ^ set2)
print(set3)

set4 = set1.symmetric_difference(set2)
print(set4)

{1, 3, 6, 8}
{1, 3, 6, 8}

## __Subset__

Find if set1 is a subset of set2 or not or vice versa.

__Syntax:__

```
set1.issubset(set2)
```

In [43]:
set1 = {1, 2, 3, 4}
set2 = {2, 3}
print(set1.issubset(set2))
print(set2.issubset(set1))

False
True